div.about-content {
        margin: 2rem;
    line-height: 2.2rem;
    font-size: 1.7rem;

    .about-q {
        font-size: 1.9rem;
    }

    .description {
        line-height: 25px;
        font-family: calibri;
    }

    .logo-text {
        font-size: 1.2rem;
    }
}

ion-item.about-logo {
    img {
        height: 350px;
        padding: 15px;
    }
}