<ion-header>

  <ion-navbar>
    <ion-title>account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <ion-icon name="person" class="icon-person" item-left></ion-icon>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box" *ngIf="!signedIn">
    <button  round outline ion-button icon-right (click)="googleLogin()">
      <ion-icon name="logo-googleplus"></ion-icon>
      Sign in with Google 
    </button>
  </div>
  <br />
  <br />
  <div *ngIf="!signedIn" class="login-box">
    --------------------------OR----------------------------
  </div>
  <br />
  <div class="login-box" *ngIf="!signedIn">
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="email" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="password" required></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" round outline type="submit" [disabled]="!registerForm.form.valid">Login / Register</button>
        </ion-col>
      </ion-row>

    </form>
  </div>
  
  <div *ngIf="signedIn">
    <ion-row class="text-center">
      <div class="text-class">You're logged in!</div>
    </ion-row>
    <ion-row>
      <ion-col class="signup-col">
        <button ion-button class="submit-btn" full (click)="logout()">Logout</button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>