.page-event-detail {

    .rsvp-buttons {
        span.button-counter {
            vertical-align: -webkit-baseline-middle;
            font-size: 1.3em;
        }

        margin: 0;

        button {
            margin: 0;
        }
    }

    ion-label {
        white-space: normal;
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }

}
