<ion-header>
  <ion-navbar>
    <ion-title>Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding [hidden]="!event" class="page-event-detail">
  <ion-list no-lines>
    <ion-item [hidden]="!event.picture">
      <img src="{{event.picture}}">
    </ion-item>
    <ion-item>
      
      <ion-icon class="ios-help-circle-outline" name="ios-help-circle" item-left></ion-icon>
      <ion-label>{{event.title}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon class="icon-calendar" name="calendar" item-left></ion-icon>
      <ion-label>{{event.startTime}} - {{event.endTime}}</ion-label>
    </ion-item>
    <ion-item [hidden]="!event.location">
      <ion-icon class="icon-location" name="pin" item-left></ion-icon>
      <ion-label>{{event.location}}</ion-label>
    </ion-item>
    <ion-item *ngIf="event.speakers && event.speakers.indexOf(',') > -1">
      <ion-icon class="icon-people" name="people" item-left></ion-icon>
      <ion-label>{{event.speakers}}</ion-label>
    </ion-item>
    <ion-item *ngIf="event.speakers && event.speakers.length > 0 && event.speakers.indexOf(',') === -1">
      <ion-icon name="person" class="icon-person" item-left></ion-icon>
      <ion-label>{{event.speakers}}</ion-label>
    </ion-item>
    <ion-item [hidden]="!event.fee">
      <ion-icon class="icon-usd" name="ios-cash" item-left></ion-icon>
      <ion-label>{{event.fee}}</ion-label>
    </ion-item>
  </ion-list>
  <div [innerHTML]="event.description" class="description-holder"></div>
  <ion-list>
    <ion-item>
      <ion-label>Attending</ion-label>
      <ion-toggle color="dark" [(ngModel)]="event.attending" disabled="{{event.past}}"
      (ionChange)="onAttendingChange()"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="event.attending && event.allowRsvp" no-lines>
    <ion-item>
      <ion-label>RSVP</ion-label>
      <ion-select [(ngModel)]="event.rsvpStatus" [selectOptions]="selectOptions" (ionChange)="onRsvpChange($event)">
        <ion-option value="yes">Yes</ion-option>
        <ion-option value="maybe">May be</ion-option>
        <ion-option value="no">No</ion-option>
      </ion-select>
    </ion-item>
    <ion-item [hidden]="!event.adultHeadCount || !event.rsvpStatus || event.rsvpStatus === 'no'">
      <ion-label>Adults</ion-label>
      <ion-buttons item-right class="rsvp-buttons">
        <button ion-button clear icon-only (click)="decrementCounter('adult')">
          <ion-icon name="remove-circle"></ion-icon>
        </button>
        <span class="button-counter">{{event.adultCount}}</span>
        <button ion-button clear icon-only (click)="incrementCounter('adult')">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-buttons>
    </ion-item>
    <ion-item [hidden]="!event.childrenHeadCount || !event.rsvpStatus || event.rsvpStatus === 'no'">
      <ion-label>Children</ion-label>
      <ion-buttons item-right class="rsvp-buttons">
        <button ion-button clear icon-only (click)="decrementCounter('child')">
          <ion-icon name='remove-circle'></ion-icon>
        </button>
        <span class="button-counter">{{event.childCount}}</span>
        <button ion-button clear icon-only (click)="incrementCounter('child')">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-buttons>
    </ion-item>

  </ion-list>
  <p [hidden]="!isDirty" class="text-center">
    <button color="secondary" ion-button round (click)="submit()">Save</button>
  </p>
</ion-content>