page-home {
    .header {
        font-weight: bold;
    }

    .col-header {
        text-transform: uppercase;
        font-size: 1.6rem;
    }
    img {
        height: 150px;
        margin-top: 50px;
    }
}
