app-support {
    ion-icon {
        margin: 0;
        font-size: 2.8rem;
    }

    ion-textarea {
        margin: 10px;
        border: 1px solid lightgray;
    }

    .label-md[stacked] {
        font-size: 1.6rem;
    }
}