// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.description-holder {
    padding: 0 20px 20px 15px;
    font-size: 1.6rem;
    margin-top: 0;

    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

img {
    width: 100%;
}

.icon-calendar {
    color: steelblue;
}

.icon-person,
.icon-people {
    color: grey;
}

.icon-location {
    color: green;
}

.icon-usd {
    color: darkolivegreen;
}

.toolbar-title {
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.toolbar-background-md {
    background: #f0f0ed;
}

$categories: ( potluck: #43355a, halaqa: #295366, visitingscholar: #FE4C52, fundraiser: #69BB7B, food: #3BC7C4, workshop: #FD8B2D, ceremony: #28a394, sports: #2c1a49, service: #B16BE3, clinic: #ef4545, women: #d15ca0, missing: #AC282B, school: #6600CC, videorecording: #e268a5, moonsight: #141414, volunteer: #28f5e4, timechange: #494848, info: #1334c9);
@function auxiliary-categories() {
    @return map-remove($categories);
}

event-companion {
    @each $track,
    $value in auxiliary-categories() {
        ion-item[category=#{$track}] {
            button {
                border-left: 3px solid $value;
            }
            padding-left: 4px;
            i {
                color: $value;
                padding-top: 6px;
            }
        }
    }
    .text-center {
        text-align: center;
    }
    ion-label {
        h2 {
            text-overflow: ellipsis;
            word-break: normal;
            overflow: hidden;
        } // white-space: normal;
    }

    // .list-md, .list-ios {
    //     .item-block {
    //         .item-inner {
    //             border-bottom: 1px solid #dedede;
    //         }
    //     }
    // }
    // .item-md, .item-ios {
    //     .item-block {
    //         .item-inner {
    //             border-bottom: 1px solid #dedede;
    //         }
    //     }
    // }

}