home-popover {
    .list-md,
    .list-ios {
        margin: 0;
    }

    ion-icon {
        margin-right: 15px;
        vertical-align: sub;
    }
    
    .item-inner {
        background-image: none;
    }
     
    .note-md {
        vertical-align: super;
        color: black;
        margin-left: 1.5rem;
    }
}
