page-announcement-detail {


    ion-label {
        white-space: normal;
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }
    
}
