<ion-header>

  <ion-navbar>
    <ion-segment [(ngModel)]="category" (ionChange)="updateEventList()">
      <ion-segment-button value="upcoming">
        Upcoming
      </ion-segment-button>
      <ion-segment-button value="attending">
        Attending
      </ion-segment-button>
      <ion-segment-button value="past">
        Past
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>
<ion-content class="list-avatar-page">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list #eventList [hidden]="eventCollection && eventCollection.length === 0 || dataLoading" *ngFor="let eventGroup of eventCollection">
    <ion-item-divider sticky *ngIf="eventGroup.events.length > 0 && category !== 'past'">
      <ion-label>
        {{eventGroup.header}}
      </ion-label>
    </ion-item-divider>
    <ion-list inset *ngIf="eventGroup.events.length > 0">
      <ion-item *ngFor="let event of eventGroup.events" (click)="goToEventDetail(event)" [attr.read]="event.read" [attr.category]="event.category | lowercase">
        <button ion-item>
          <ion-avatar item-left>
            <i class="fa" ngClass="{{event.font}}" aria-hidden="true"></i>
          </ion-avatar>
          <div>
            <h2>{{event.title}}</h2>
            <p>{{event.startTime}} - {{event.endTime}}
            </p>
          </div>
          <ion-note item-right>{{event.source}}</ion-note>
        </button>
      </ion-item>
    </ion-list>
  </ion-list>
  <ion-list-header [hidden]="(category == 'upcoming') || (eventCollection && eventCollection.length > 0) || dataLoading">
    No events to show.
  </ion-list-header>
  <ion-list-header [hidden]="category == 'attending' || category == 'past' || (eventCollection && eventCollection.length > 0) || dataLoading">
    No events to show. Are you sure there is a Masjid selected on your Settings?
  </ion-list-header>
</ion-content>