
<ion-header>

  <ion-navbar>
    <!--<ion-title>Events</ion-title>-->
    <ion-segment [(ngModel)]="category" (ionChange)="updateEventList()">
      <ion-segment-button value="upcoming">
        Upcoming
      </ion-segment-button>
      <ion-segment-button value="attending">
        Attending
      </ion-segment-button>
      <ion-segment-button value="past">
        Past
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>

</ion-header>


<ion-content class="list-avatar-page">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list #eventList [hidden]="eventCollection && eventCollection.length === 0"
   *ngFor="let eventGroup of eventCollection">
      <ion-list-header>
        {{eventGroup.header}}
      </ion-list-header>
      <h6 class="no-content-text" [hidden]="eventGroup.events.length > 0">No Events</h6>
      <ion-list *ngFor="let event of eventGroup.events" inset>
        <ion-item (click)="goToEventDetail(event)">
          <ion-avatar item-left>
            <img src="assets/icon/favicon.ico">
          </ion-avatar>
          <h2>{{event.title}}</h2>
          <p>{{event.startTime}} - {{event.endTime}}
          </p>
          <ion-note item-right>{{event.location}}</ion-note>
        </ion-item>
      </ion-list>
    <!--</ion-item-group>-->

  </ion-list>

  <ion-list-header [hidden]="eventCollection && eventCollection.length > 0">
    No events available
  </ion-list-header>

  <!--<ion-fab bottom right #fab>
    <button ion-fab><ion-icon name="share"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="vimeo" (click)="openSocial('Vimeo', fab)"><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab color="google" (click)="openSocial('Google+', fab)"><ion-icon name="logo-googleplus"></ion-icon></button>
      <button ion-fab color="twitter" (click)="openSocial('Twitter', fab)"><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab color="facebook" (click)="openSocial('Facebook', fab)"><ion-icon name="logo-facebook"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>-->
</ion-content>